<ng-container *ngIf="{ 
    projects: projects$ | async,
    activeItemID: activeItemID$ | async
} as data">
    <div class="projects-container flex projects-perspective parallax-perspective preserve-3D" [@projects]>
        <ng-container *ngFor="let project of data?.projects;">
            <div
                class="project-container preserve-3D" 
                [@projectRendered]="{value: 'projectRendered', params: { degree: degree }}" 
                [@projectCeded]="{value: 'projectCeded', params: { degree: degree }}" 
                [ngClass]="data.activeItemID === project.id ? 'active' : !!data.activeItemID ? 'inactive' : ''"
            >
                <span class="project-name"
                    (click)="handleItemClick(project)"
                >
                    {{project.name}}
                </span>
            </div>
        </ng-container>
    </div>
</ng-container>