<ng-container *ngIf="{ 
    projects: projects$ | async,
    degree: ['subTablet', 'subSmallTablet', 'subMobile'].includes((mediaBreakpoint$ | async)) ? '25' : '45'
} as data">
    <div class="projects-container flex projects-perspective parallax-perspective preserve-3D" [@projects]>
        <ng-container *ngFor="let project of data.projects;">
            <ng-container *ngIf="{
                isActiveItem: (activeItemID$ | async) === project.id,
                thereIsActiveItem: !!(activeItemID$ | async),
            } as conditions">
                <div
                    class="project-container preserve-3D" 
                    [@projectRendered]="{value: 'projectRendered', params: { degree: data.degree }}" 
                    [@projectCeded]="{value: 'projectCeded', params: { degree: data.degree }}" 
                    [ngClass]="conditions.isActiveItem ? 'active' : conditions.thereIsActiveItem ? 'inactive' : ''"
                >
                    <span class="project-name"
                        (click)="handleItemClick(project)"
                    >
                        {{project.name}}
                    </span>
                </div>
            </ng-container>
        </ng-container>
    </div>
</ng-container>