<ng-container *ngIf="{
    isProject:  isProject$ | async,
    thereIsActiveItem: thereIsActiveItem$ | async,
    typedText: typedText$ | async,
    isStackReadyForRender: isStackReadyForRender$ | async
} as data">
    <ng-container *ngIf="isHandheld || data.thereIsActiveItem">
        <app-header [@headerRendered] [isHandheld]="isHandheld" [thereIsActiveItem]="data.thereIsActiveItem" [typedText]="data.typedText"></app-header>
    </ng-container>
    <div class="home-container flex preserve-3D">
        <div class="stage-container flex preserve-3D">
            <app-projects [isHandheld]="isHandheld"></app-projects>
            <ng-container *ngIf="data.isStackReadyForRender && data.isProject">
                <app-stack></app-stack>
            </ng-container>
        </div>
        <ng-container *ngIf="data.thereIsActiveItem">
            <app-details></app-details>
        </ng-container>
    </div>
    <ng-container *ngIf="!isHandheld">
        <app-footer [typedText]="data.typedText"></app-footer>
    </ng-container>
</ng-container>