<div class="info-container">
    <div class="sub-container">
        <span class="name">Mason Watson</span>
    </div>
    <div class="sub-container">
        <div class="title">
            <span class="info">Software En{{typedText}}</span>
            <span class="blinking-cursor"></span>
        </div>
    </div>
    <div class="sub-container">
        <span class="info">Austin, Texas</span>
    </div>
    <div class="sub-container">
        <span class="info">masonxwork&#64;gmail.com</span>
    </div>
</div>
<ul class="links-container">
    <li>
        <span class="link" (click)="handleAboutClick()">
            <span class="link-num">01&nbsp;&nbsp;</span>
            <strong>about</strong>
        </span>
    </li>
    <li>
        <a href="https://github.com/masonwatson"
            target="_blank"
            rel="noreferrer"
        >
            <span class="link">
                <span class="link-num">02&nbsp;&nbsp;</span>
                <strong>resume</strong>
            </span>
        </a>
    </li>
    <li>
        <a href="https://github.com/masonwatson"
            target="_blank"
            rel="noreferrer"
        >
            <span class="link">
                <span class="link-num">03&nbsp;&nbsp;</span>
                <strong>github</strong>
            </span>
        </a>
    </li>
    <li>
        <a href="https://www.linkedin.com/in/masonxw/"
            target="_blank"
            rel="noreferrer"
        >
            <span class="link">
                <span class="link-num">04&nbsp;&nbsp;</span>
                <strong>linkedin</strong>
            </span>
        </a>
    </li>
    <li>
        <a href="https://twitter.com/mxwcode"
            target="_blank"
            rel="noreferrer"
        >
            <span class="link">
                <span class="link-num">05&nbsp;&nbsp;</span>
                <strong>twitter</strong>
            </span>
        </a>
    </li>
</ul>